@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
.card_add{
    width: 100%;
}
.notes_bar{
    display: flex;
    flex-direction: column;
}
.notes_bar li {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed for spacing between elements */
}
#homeHeader{
    font-family: 'Bungee Spice', sans-serif;
    font-size:3.5rem;;
}


.loginform{
    margin-top: 10%;
    box-shadow: 0px 4px 9px 10px rgba(199,199,199,0.75);
    width: 100%;
    padding: 15px;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

   